<ion-view style="" title="AboutUs">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <auth-info></auth-info>
        <h1 style="text-align: center;">UCL CS &amp; Brain</h1>
        <div style="" class="list card">
            <div class="item item-divider">Contact</div>
            <div class="item item-body">
                <ion-list style="">
                    <ion-item style="" onclick="cordova.InAppBrowser.open('http://lt-harris.info/', '_blank', 'location=yes'); return false;" href="#" class="item-thumbnail-left">
                        <img src="img/ZNFZCnwxTLGmvq8QtU4b_lasanatharris.jpg">
                        <h2>Lasana T. Harris, Ph.D.</h2>
                        <p>UCL Brain Science</p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Developers</div>
            <div class="item item-body">
                <ion-list style="">
                    <ion-item style="" class="item-thumbnail-left">
                        <img src="img/IQ4so8AiQ5eCa0mdirYq_11751842_1595149650737895_1488985739545013303_n.jpg">
                        <h2>C.Daly</h2>
                        <p>UCL MEng CS</p>
                    </ion-item>
                    <ion-item style="" class="item-thumbnail-left">
                        <img src="img/pCXLmpr5R4eXhznNhWgf_FullSizeRender.jpg">
                        <h2>Q.Yu</h2>
                        <p>UCL MEng Mathcomp</p>
                    </ion-item>
                    <ion-item style="" class="item-thumbnail-left">
                        <img src="img/2XfobHMgTSanIcbU30lN_711445_2722902009572_505732919_n.jpg">
                        <h2>M.Zaman</h2>
                        <p>UCL MEng Mathcomp</p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>