<ion-view style="" title="Login">
    <!--
    <ion-nav-buttons side="primary">
      <a class="button button-icon icon ion-arrow-left-b" href="#/page1/tab1/page3">
      </a>
    </ion-nav-buttons>
    -->
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Username</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="password">
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <a style="" class="button button-stable button-block " ui-sref="tabsController.profile">Log in</a>
            <a style="" class="button button-positive button-clear button-block " ui-sref="tabsController.signup" >Or create an account</a>
        </form>
    </ion-content>
</ion-view>