<ion-view style="" title="Profile">
    <ion-content class="has-header" scroll="true" overflow-scroll="true" padding="true" >
        
        <auth-info></auth-info>
        
        <div ng-show="currentUser">
            <div style="width: 300.25px; height: 14px;" class="spacer"></div>
            
            <div style="text-align: center;" >
                <img src="img/qinyuinegypt.JPG" width="40%" height="auto">
            </div>
            
            <div style="width: 300px; height: 31px;" class="spacer"></div>


            <ion-list style="" >
                <ion-item style="" class="item-divider">Personal Info.</ion-item>
                <ion-item style="">
                    <div class="userinfo">
                        <span class="userinfo">{{currentUser.firstname + ' ' + currentUser.lastname}}</span>
                    </div>
                </ion-item>
                <ion-item style="">{{currentUser.email}}</ion-item>
                <ion-item style="" class="item-divider">Payment Info.</ion-item>
                <ion-item style="">HSBC-**** **** **** 3456</ion-item>
            </ion-list>
            
            <button style="" class="button button-stable button-clear button-block button-small" ui-sref="tabsController.login" ng-click="logout()" >Sign Out</button>
        </div>


        <div ng-hide="currentUser">
            <a style="" class="button button-positive button-outline button-block button-small" ui-sref="tabsController.login" >Log In</a>
            <a style="" class="button button-positive button-outline button-block button-small" ui-sref="tabsController.signup">sign up</a>
        </div>
        
    </ion-content>
</ion-view>