<ion-view style="" title="Yours">
    <ion-nav-buttons side="secondary">
      <button class="button button-icon icon ion-clock" ng-click="estimateTime()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true" style="background: url(img/YSSSK9IjRUyQjregTA2v_pokerByQin_bot_compressed.jpg) no-repeat center;" >
        <div ng-hide="currentUser" style="text-align: center;">
            See your activities here after authentication.
        </div>
        <div ng-show="currentUser">
            <label class="item item-icon-left">
                <i class="icon ion-star"></i>
                Public Goods Pools
                <span class="badge badge-calm">{{howManyPoolsUserHas}}</span>
            </label>
        </div>
    </ion-content>
</ion-view>