<ion-view style="" title="Setting">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" ui-sref="tabsController.profile" class="item-thumbnail-left" ng-show="currentUser">
                <img src="img/qinyuinegypt.JPG">
                <h2>{{currentUser.firstname + ' ' + currentUser.lastname}}</h2>
                <p>{{currentUser.email}}</p>
            </ion-item>
            <ion-item style="" class="item-divider">Settings</ion-item>
            <ion-toggle style="" name="selectToken" toggle-class="toggle-assertive" ng-checked="true">Play with Paypal</ion-toggle>
            <ion-toggle style="" toggle-class="toggle-positive" ng-checked="true">Balance Alert</ion-toggle>
            <ion-toggle style="" name="selectDonation" toggle-class="toggle-positive">Donate soem profit weekly</ion-toggle>
        </ion-list>
        <a style="" class="button button-stable button-outline button-block button-small icon ion-information-circled" ui-sref="tabsController.aboutUs">About UCL Academic Gamble</a>
    </ion-content>
</ion-view>