<ion-view style="" title="Setting">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true" style="background: url(img/YSSSK9IjRUyQjregTA2v_pokerByQin_bot_compressed.jpg) no-repeat center;">
        <ion-list style="">
            <ion-item style="" ui-sref="tabsController.profile" class="item-thumbnail-left">
                <img src="img/AISQTbMdRw2uIQ9l8JKQ_qinYUphoto.jpg">
                <h2>Qin Yu</h2>
                <p>qin.yu.15@ucl.ac.uk</p>
            </ion-item>
            <ion-item style="" class="item-divider">Settings</ion-item>
            <ion-toggle style="" name="selectToken" toggle-class="toggle-assertive" ng-checked="true">Play with Paypal</ion-toggle>
            <ion-toggle style="" toggle-class="toggle-positive" ng-checked="true">Balance Alert</ion-toggle>
            <ion-toggle style="" name="selectDonation" toggle-class="toggle-positive">Donate soem profit weekly</ion-toggle>
        </ion-list>
        <div style="width: 300px; height: 93px;" class="spacer"></div>
        <a style="" class="button button-stable button-outline button-block button-small icon ion-information-circled" ui-sref="tabsController.aboutUs">About UCL Academic Gamble</a>
    </ion-content>
</ion-view>