<ion-view style="" title="UCL Gamble">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h1 style="text-align: center;">Enjoy Academic Gamble Games</h1>
        <div style="text-align: center;">
            <p>Developed by
                <strong>UCL CS &amp; Brain Science</strong>
            </p>
        </div>

        <img src="img/pokerByQin_wide.jpg" width="100%" height="auto">

        <div class="list card">
            <div class="item item-avatar" ui-sref="tabsController.publicGoods">
                <img src="img/icon.png">
                <h2>Public Goods Game</h2>
                <p>Invest and share fund with other players</p>
            </div>
            <div class="item item-avatar" ui-sref="tabsController.probability">
                <img src="img/white-dice-with-red.jpg">
                <h2>Probability Gambling Game</h2>
                <p>More than rolling a dice</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar" ng-click="estimateTime()">
                <img src="img/red_and_white_clock.jpg">
                <h2>Time Estimation Game</h2>
                <p>You might lose with a stop watch</p>
            </div>
            <div class="item item-avatar" ng-click="charityPrompt()">
                <img src="img/icon2.png">
                <h2>Charity Game</h2>
                <p>We together make a better world</p>
            </div>
        </div>
    </ion-content>
</ion-view>