<ion-view style="" title="UCL Gamble">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h1 style="">Enjoy Academic Gamble Games</h1>
        <div style="">
            <p>Developed by
                <strong>UCL CS &amp; Brain Science</strong>
            </p>
        </div>
        <div style="text-align: left;">
            <img src="img/TAlKIugLTRqS3kbHTB3a_pokerByQin_wide.jpg" width="100%" height="auto">
        </div>
        <a style="" class="button button-stable button-block  icon ion-ios-game-controller-b" ui-sref="tabsController.trustGame">Trust Game</a>
        <div style="text-align: center;">
            <img src="img/mhjlZFg3RcWZXgQBZYFW_pokerRedAbyQin_wide.jpg" width="100%" height="auto">
        </div>
        <button style="" class="button button-stable button-block  icon ion-ios-heart">Charity Game</button>
        <div style="text-align: left;">
            <img src="img/TAlKIugLTRqS3kbHTB3a_pokerByQin_wide.jpg" width="100%" height="auto">
        </div>
        <a style="" class="button button-stable button-block  icon ion-ios-game-controller-b" ui-sref="tabsController.publicGoods">Public Goods Game</a>
        <div style="text-align: left;">
            <img src="img/TAlKIugLTRqS3kbHTB3a_pokerByQin_wide.jpg" width="100%" height="auto">
        </div>
        <a style="" class="button button-stable button-block  icon ion-ios-game-controller-b" ui-sref="tabsController.ultimatumGame">Ultimatum Game</a>
        <div style="text-align: left;">
            <img src="img/TAlKIugLTRqS3kbHTB3a_pokerByQin_wide.jpg" width="100%" height="auto">
        </div>
        <a style="" class="button button-stable button-block  icon ion-ios-game-controller-b" ui-sref="tabsController.probabilityGame">Probability Gambling Game</a>
        <div style="text-align: left;">
            <img src="img/TAlKIugLTRqS3kbHTB3a_pokerByQin_wide.jpg" width="100%" height="auto">
        </div>
        <a style="" class="button button-stable button-block  icon ion-ios-game-controller-b" ui-sref="tabsController.timeEstimationGame">Time Guessing Game</a>
        <div style="text-align: left;">
            <img src="img/TAlKIugLTRqS3kbHTB3a_pokerByQin_wide.jpg" width="100%" height="auto">
        </div>
        <a style="" class="button button-stable button-block  icon ion-ios-game-controller-b" ui-sref="tabsController.beautyContestGame">Beauty Contest Game</a>
        <div style="text-align: left;">
            <img src="img/TAlKIugLTRqS3kbHTB3a_pokerByQin_wide.jpg" width="100%" height="auto">
        </div>
        <a style="" class="button button-stable button-block  icon ion-ios-game-controller-b" ui-sref="tabsController.rockGuessingGame">Rock Guessing Game</a>
    </ion-content>
</ion-view>