<ion-view style="" title="Beauty Contest Game">
    <ion-content class="has-header" overflow-scroll="true" padding="true" style="background: url(img/S9YUHXi1Stuq7ISFlkgA_pokerByQin_bot_compressed.jpg) no-repeat center;">
        <h2 style="">Beauty Contest</h2>
        <button style="" class="button button-assertive button-outline button-block button-large icon ion-ios-time-outline">Go Play</button>
        <div style="">
            <p>This game measure meta-cognition and mental state inferences. Players are tasked with guessing a number between 0 – 100. Participants must invest 31 to play. They will be told that other participants are also registering guesses, and the winning
                estimate is the number that is closest to 2/3 the average number guessed. So if all players, on average, guessed 51, then the winning number is 34. In this game, players can think about what the average guess might be, then think that
                each person may adopt this strategy, therefore each players’ guess may be 2/3 of that value. But if each player adopts this strategy, then an astute player may decide that 2/3 of 2/3 of the perceived average is correct, and so on. Therefore,
                the smaller the number, most meta-cognition and mental state inferences can be inferred. Participants will only make one guess in this game. Accurate guesses will be rewarded (win £5). The accuracy depends on the number of other players
                involved each round.</p>
        </div>
    </ion-content>
</ion-view>