<ion-view style="" >
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true" style="background: url(img/S9YUHXi1Stuq7ISFlkgA_pokerByQin_bot_compressed.jpg) no-repeat center;">
        <h2 style="text-align: center;">Probability</h2>
        <button style="" class="button button-assertive button-outline button-block button-large icon ion-ios-time-outline" ui-sref="tabsController.probabilityGame"> Go Play</button>
        <div style="">
            <p>This game measure loss aversion, allowing computation of a loss aversion lambda. Each player will invest £5 to play this game. Participants will decide whether to bet on a series of 10 gambles with varying degrees of risk, or take a sure loss
                or gain. For instance, participants may be offered a gamble where there is an 80% chance of winning £2, or a 20% chance of losing £2, or a sure change of gaining €0.40. The exact probability values range between 90%-10% and 50%-50%, while
                the won/loss values will range from £1 - £5. The sure bet values will range from £0.10 to £1. Participants will receive feedback on the outcome of their choices.</p>
        </div>
    </ion-content>
</ion-view>