<ion-view style="" title="Public Goods">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true" style="background: url(img/S9YUHXi1Stuq7ISFlkgA_pokerByQin_bot_compressed.jpg) no-repeat center;">
        <h2 style="">Public Goods Game</h2>
        <button style="" class="button button-assertive button-outline button-block button-large icon ion-ios-time-outline" ui-sref="tabsController.publicGoodsGame">Go Play</button>
        <div style="">
            <p>This game measures conformity to norms and free-riding. Players can invest between £1 and £10 to a public fund. Four other players also have the opportunity to invest. Each round, money contributed to this fund is tripled, before being distributed
                equally amongst the five other players, regardless of their individual contributions. However, all players will be aware of who contributed what, and have the option of punishing that player by subtracting money from their share of the
                profits from the fund. To do so, each player simply has to spend money from his or her own profit. For every £0.10 spent, £1 will be removed from the punished player.</p>
        </div>
    </ion-content>
</ion-view>