<ion-view style="" title="Rock Guessing Game">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true" style="background: url(img/S9YUHXi1Stuq7ISFlkgA_pokerByQin_bot_compressed.jpg) no-repeat center;">
        <h2 style="">Rock Guessing</h2>
        <button style="" class="button button-assertive button-outline button-block button-large icon ion-ios-time-outline">Go Play</button>
        <div style="">
            <p>This game is simply a measure of players’ ability to estimate quantity. They will be shown one of 30 different images on screen depicting rocks of different size. Each image will be displayed for 2 seconds. Players must guess how many rocks
                are on each screen. They will receive feedback after each estimate. Actual numbers will range between 200-500 rocks. They must pay £1 to play, and like the time estimation, will compete against others. The person with the most wins gets
                the £5 reward.</p>
        </div>
    </ion-content>
</ion-view>