<ion-view style="" title="Time Estimation">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true" style="background: url(img/S9YUHXi1Stuq7ISFlkgA_pokerByQin_bot_compressed.jpg) no-repeat center;">
        <h2 style="">Time Estimation</h2>
        <button style="" class="button button-assertive button-outline button-block button-large icon ion-ios-time-outline">Go Play</button>
        <div style="">
            <p>This game is simply a measure of players’ ability to estimate how long period of time take to elapse. Players must invest £1 to play. Players will press a button to start and stop an estimate of an interval of time (e.g. 9.5 seconds). They
                will receive feedback for correct guesses. They will estimate times ranging between 5 – 15 seconds. This game will be played competitively against other people, and the person with the highest number of accurate responses out of 10 is
                given the £5 reward.</p>
        </div>
    </ion-content>
</ion-view>