<ion-view style="" title="Trust Game">
    <ion-content class="has-header" overflow-scroll="true" padding="true" style="background: url(img/S9YUHXi1Stuq7ISFlkgA_pokerByQin_bot_compressed.jpg) no-repeat center;">
        <h2 style="">Trust</h2>
        <button style="" class="button button-assertive button-outline button-block button-large icon ion-ios-time-outline">Go Play</button>
        <div style="">
            <p>
                <strong>Investor</strong>: This game measures how much one person trusts another to return an investment. In this version, players will decide both how much to invest and whether or not return investments. Players will be endowed with £3, £4,
                £5, £6, £7, £8, £9, and £10. They will be told that they could invest any amount of each endowment with another player. Any money invested will be tripled, giving the other player the opportunity to return some of the profits to the player.
                Therefore, investment can lead to increased profits.</p>
        </div>
        <div style="">
            <p>
                <strong>Trustee</strong>: Trustees will be offered investments. They will be told that these amounts represent the tripled value of another player’s investment with them. The player must therefore decide how much, if any of the amount, they will
                return to that investor.</p>
        </div>
    </ion-content>
</ion-view>