<ion-view style="" title="Ultimatum Game">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true" style="background: url(img/S9YUHXi1Stuq7ISFlkgA_pokerByQin_bot_compressed.jpg) no-repeat center;">
        <h2 style="">Ultimatum</h2>
        <button style="" class="button button-assertive button-outline button-block button-large icon ion-ios-time-outline">Go Play</button>
        <div style="">
            <p>This game measures fairness and reactions to perceived unfairness. Players will be asked to share £10 with another player. The other player can accept the proposed split, in which case both players get the sum of money, or the other player
                can reject the proposed split, in which case neither player received any money. Ultimatum (receiver). Players will also make decisions in the other role. They must decide whether to accept or reject each proposed split.</p>
        </div>
    </ion-content>
</ion-view>