<ion-view style="" title="Probability">
    <!-- If add any controller in HTML, the $scope within that element is tricky. -->
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear" ng-click="probalilityQuit()">
            <i class="ion-arrow-left-c"></i>Quit
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header" scroll="true" overflow-scroll="true" padding="true">
        <h1>Choose an Option:</h1>
        <ion-list style="">
            <label class="item item-icon-left">
                <i class="icon ion-ios-alarm-outline "></i>
                Bets left
                <span class="badge badge-calm">{{counter}}</span>
            </label>
            <label class="item item-icon-left">
                <i class="icon ion-social-usd-outline "></i>
                Points earned
                <span class="badge badge-calm">{{initialPoints}}</span>
            </label>
            <ion-item style="text-align: center;">{{probability.chancew}}% chance of winning {{probability.amount}} points</ion-item>
            <ion-item style="text-align: center;">({{probability.chancel}}% of losing)</ion-item>
        </ion-list>
        <a id="letSPlay-button4" class="button button-stable  button-block" ng-click='check()'>Go Bet!</a>
        <a id="letSPlay-button5" class="button button-stable  button-block" ng-click='plus()'>Sure Bet.</a>
        <p style="text-align: center;">notice sure bets guarantee you 1 point.</p>
    </ion-content>
</ion-view>