<ion-view style="" title="Pool Members">
    <ion-content class="has-header" scroll="true" overflow-scroll="true" padding="true">
        
        <div style="width: 300.25px; height: 16px;" class="spacer"></div>

        <form class="list" ng-repeat="(key, member) in poolmemberstoshow">
            <div class="item item-divider">{{member.username}}</div>
            <div class="item item-icon-left" ng-show="poolmemberstoshow.length == 5">
                <i class="icon ion-log-in"></i>
                <span class="text">Investment</span>
                <span class="badge badge-assertive">{{member.fund}}</span>
            </div>
            <div class="item item-icon-left" ng-show="poolmemberstoshow.length == 5">
                <i class="icon ion-log-out"></i>
                <span class="text">Reward</span>
                <span class="badge badge-energized">{{member.reward}}</span>
            </div>
        </form>

        <div style="width: 300.25px; height: 30px;" class="spacer"></div>
        
    </ion-content>
</ion-view>