<ion-view style="" title="Your Pool">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        
        <label class="item item-icon-left">
            <i class="icon ion-star"></i>
            Pool Number
            <span class="badge badge-calm">{{howManyPools}}</span>
        </label>
        
        <form class="list" name="joinpool" ng-submit="addPool()" novalidate>
            <div class="item item-divider">Join Pool</div>
            <label style="" class="item item-input item-icon-right">
                <span class="input-label">Pool</span>
                <input type="text" name="poolname" placeholder="Pool name" ng-model="poolname.name" ng-required="true">
                <button type="submit" class="button button-icon icon ion-plus-circled calm" ng-disabled="myform.$invalid"></button>
            </label>
        </form>

        <form class="list">
            <div class="item item-divider">Your Pool</div>
            <!--The following div has to be div rather than label, or joinPool() cannot be called successfully. -->
            <div class="item item-icon-left item-icon-right" ng-repeat="(key, pool) in pools">
                <button class="button button-icon icon ion-minus-circled assertive" ng-click="deletePool(key)"></button>
                <span class="text">{{pool.name}}</span>
                <button class="button button-icon icon ion-checkmark-circled royal" ng-click="joinPool(key, false)"></button>
            </div>
        </form>
        
    </ion-content>
</ion-view>